.courses-items {
  list-style: none;
  display: grid;
  place-items: center;
  padding: 20px;
  overflow: auto;
  border: 1px solid;
  width: fit-content;
  height: 80vh;
}

.course-item:hover {
  background-color: #f8f8f8;
}

/* .loading {
  left: 45%;
  top: 45%;
  position: absolute;
} 50%? */
