.home{
  
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container{
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.left{
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


img{
  width: 100%;
  height: auto;
}

.right{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


p.description{
  font-size: 17px;
}

.divider{
  width: 80%;
  height: 1px;
  opacity: 0.2;
  background-color: grey;
}

p.content{
  font-size: 15px;
}

a.searchbutton{
  height: 40px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(143, 5, 5);
  text-decoration: none;
  color: inherit;
  color: white;
  border-radius: 10px;
}

a.searchbutton:hover{
  background-color: rgb(26, 68, 184);
  color: white;
}

/* .jumbotron {
  background: #ffffff;
}

.searchbutton {
  background-color: #a02236;
}

.row {
  padding: 2em;
}

.blanksection {
  height: 12em;
}

body.signin-body {
  background-color: #dbc4b0;
}

.container.signin-container {
  margin-top: 8%;
}

.card.signin-card {
  padding: 40px 0px 20px;
  background-color: #f4f4f4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

img.signin-img {
  padding: 0 2rem 2rem;
  margin: auto;
  display: block;
}

form.signin-form {
  max-width: 350px;
  margin: auto;
}

button.signin-btn {
  color: #ffffff;
  background-color: #a02236;
  width: 100%;
  margin-bottom: 1.2rem;
}

a.create-new-account {
  font-size: 1.2rem;
  text-align: center;
  display: block;
  margin-top: 15px;
}

.form-check {
  margin-top: 2px;
  margin-bottom: 15px;
}

a.signin-text {
  text-decoration: none;
  color: #ffffff;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.about_img {
  vertical-align: middle;
} */
